/* Tab Content - menucool.com */
ul.tabs
{
    padding: 7px 0;
    margin:0;
    font-size: 0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
    padding-left: 0px; /* Offset of the first tab */
}
        
ul.tabs li
{
    display: inline;
    margin-right: 5px;/*no distance between tabs*/
    background: White;
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 22px;
    color: #81A8D9;
    outline:none;
    background: #FFF;
    /*border:1px solid #14143F;
    border-right:0; */
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
    border-left: 1px solid #81A8D9;
    border-top: 1px solid #81A8D9;
    border-right: 1px solid #81A8D9;
}

/*Note: IE8 and earlier doesn't support li:last-child. You have to add another class to the last tab (LI) and specify its border-right as below.*/
ul.tabs li:last-child a
{
    /*border-right:1px solid #14143F;*/
}
  
        
ul.tabs li a:hover
{
    color: #14143F;
    background: white;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    top: 0px;
    font-weight:normal;
    background: #81A8D9;
    color: #FFF;
    border: none;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
    background-color: white;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top: 1px solid #81A8D9;
    padding: 30px 20px;
}
/* CUSTOM STYLES ADDED BY DIGIMOOSE */
section.tabbed_jobs{
    padding: 10px;
}
.job_pic{
}
.job_excerpt{
    width: 100%;
    overflow: auto;
    margin-top: 15px;
    border-bottom: 1px solid #DDD;
}
.job_excerpt a.button{
    background-color: #81A8D9;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 2px;
    color: #fff;
    font-size: 0.9em;
    float: right;
}
.desc_excerpt{
}
.desc_excerpt h2{
    color: #81A8D9;
}
.desc_excerpt p{
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}
.location{
    background-color: blue;
}
.sector{
    float: right;
    margin-top: 75px;
}
.desc_excerpt h2, .desc_excerpt p{
    padding: 0 0 0 10px;
}